{% extends "base.html" %}
{% block hovor %}
<ul class="nav nav-pills">
    <li role="presentation"><a href="/">Group List</a></li>
    <li role="presentation"><a href="/servers">Server List</a></li>
	<li role="presentation" class="active"><a href="/all_servers">All List</a></li>
</ul>
{% endblock %}
{% block body %}
<div class="page-header">
    <h1>All List
        <small>controlled by docker</small>
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <ul class="nav nav-pills nav-stacked">
            {% for server in servers %}
            <li role="presentation" style="background-color: lemonchiffon  ">
 <!--              <a href="#" onclick="show_server_status('{{server.id}}')">
                    {{server.host}}:{{server.port}} {{server.Id}}
 -->               </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-8" id="server_div">
    </div>
</div>

{% for server in server_all_list %}
<h3>Host: {{server.server_ip}}</h3>
<table class="table table-striped">
    <tr>
        <th width="10%">state</th>
        <th width="10%">app</thw>
        <th width="40%">location</th>
        <th width="30%">description</th>
        <th colspan="4" width="10%">operation</th>
    </tr>
    {% for container in server["containers"]%}
    <tr>
        <td>
            {% if container.State == 'running' %}
                <span style="background-color: lightgreen">
                 {% elif container.State == 'exited' %}
                <span style="background-color: lightgray">
                 {% else %}
                <span style="background-color: yellow">
                    {% endif %}
                    {{container.State}}
                </span>
        </td>
        <td>{{container.Names}}</td>
        <td>{{server.server_ip}}</td>
        <td>{{container.Status}}</td>
        <td>
            <button class="btn btn-primary btn-xs"
                    onclick="container_opt('{{server.server_ip}}', '{{server.server_port}}' , '{{container.Id}}', 'start')">
                start
            </button>
        </td>
        <td>
            <button class="btn btn-primary btn-xs"
                    onclick="container_opt('{{server.server_ip}}', '{{server.server_port}}',  '{{container.Id}}', 'restart')">
                restart
            </button>
        </td>
        <td>
            <button class="btn btn-primary btn-xs"
                    onclick="container_opt('{{server.server_ip}}', '{{server.server_port}}',  '{{container.Id}}', 'stop')">
                stop
            </button>
        </td>
        <td>
            <button class="btn btn-primary btn-xs"
                    onclick="tail_log('{{server.server_ip}}', '{{server.server_port}}',  '{{container.Id}}')">
                tail
            </button>
        </td>

    </tr>
    {% endfor %}
</table>
{% endfor %}
{% endblock %}
</body>
</html>